/*
Author: LeQuan Ly
Copyright: codekngswd 2018, QurateMedia 2018

This CSS File is dedicated to index.HTML
*/

/* Global Properties */
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 2vh;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

/* TESTING PURPOSES
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/