/*
Author: LeQuan Ly
Copyright: codekngswd 2018, QurateMedia 2018

This CSS File is dedicated to the Menu Bar. 
*/

/* Icon Properties */
.icon-menu-white {
	background: url("../images/icons/menu_white.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	
	height: 7.5vh;
	width: 7.5vw;
	display: inline-block;
}

.icon-menu-black {
	background: url("../images/icons/menu_black.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	
	height: 7.5vh;
	width: 7.5vw;
	display: inline-block;
}

.icon-logo-white {
	background: url("../images/icons/logo_white.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	
	height: 7.5vh;
	width: 7.5vw;
	display: inline-block;
}

.icon-logo-black {
	background: url("../images/icons/logo_black.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	
	height: 7.5vh;
	width: 7.5vw;
	display: inline-block;
}

#menuBar {
	position: relative;
}

#menuBar #menuIcon {
	margin-top: 2vh;
}

@media screen and (min-height: 0px) and (max-height: 736px) {
	#menuBar #menuIcon {
		margin-top: 0vh;
		margin-left: 1.5vw;
	}
}

#menuBar #logoIcon {
	margin-top: 2vh;
	float: right;
}

@media screen and (min-height: 0px) and (max-height: 736px) {
	#menuBar #logoIcon {
		margin-top: 0vh;
		margin-right: 1.5vw;
	}
}