/*
Author: LeQuan Ly
Copyright: codekngswd 2018, QurateMedia 2018

This CSS File is dedicated to the Dotted Scroll Bar.
*/

/* Icon Properties */
.icon-scroll-dot {
	background: url("../images/icons/scroll_dot_black.svg");
	height: 15px;
	width: 15px;
	background-size: 15px 15px;
	display: block;
}

#scrollBar {
	position: fixed;
	left: 90vw;
	top: 30vh;
}

@media screen and (min-width: 0px) and (max-width: 736px) {
	#scrollBar {
		left: 80vw;
		top: 25vh;
	}
}

#scrollBar ul {
	list-style-type: none;
}

#scrollBar li {
	margin-top: 5vh;
}