/*
Author: LeQuan Ly
Copyright: codekngswd 2018, QurateMedia 2018

This CSS File is dedicated to the Sign Up Page.
*/

#container {
	margin: 0;
	position: absolute;
	width: 80vw;
	top: 35vh;
	left: 50vw;
	margin-right: -50vw;
	transform: translate(-50%, -30%);
}

table {
	width: 80vw;
	table-layout: fixed;
}

/* Sign Up Progress Bar */
#signUpProgress {
	margin-top: 5vh;
}

/* Sign Up Credentials */
#signUpCredentials {
	margin-top: 10vh;
}

#signUpCredentials table {
	margin-top: 5vh;
}

#signUpCredentials input {
	width: 35vw;
	border: none;
	border-bottom: 2px solid #000;
	
	font-size: 3vh;
}

/* Next Button */
#submitButton {
	background-color: #000;
	width: 15vw;
	padding: 1vw;
	border: none;
	border-radius: 4px;
	
	margin: auto;
	margin-top: 10vh;
	display: block;
	
	/* Text Properties */
	color: #FFF;
}